DATABASE_URL="postgresql://neondb_owner:npg_mr8Gh9LSvHfP@ep-still-hill-amg8qczx-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:npg_mr8Gh9LSvHfP@ep-still-hill-amg8qczx.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="u1mNnuCSyohDbL9KDns0WfTpAiG4ec3KwTMaR9PZyQ4="
SETUP_SECRET="BetAISetupSecret123"
ADMIN_EMAIL="admin@yourdomain.com"
ADMIN_PASSWORD="Password123"
NEXTAUTH_URL="https://sporty-ai.vercel.app"
